In [33]:
import pandas as pd
import numpy as np

In [50]:
a = pd.Series(['a','b','c','c','a','c'])
b = pd.Series(['a','c','d','e','f'])

In [51]:
x = pd.get_dummies(a)
z = pd.get_dummies(b)

In [59]:
pd.concat([x,z])

   a    b  c    d    e    f
0  1  0.0  0  NaN  NaN  NaN
1  0  1.0  0  NaN  NaN  NaN
2  0  0.0  1  NaN  NaN  NaN
3  0  0.0  1  NaN  NaN  NaN
4  1  0.0  0  NaN  NaN  NaN
5  0  0.0  1  NaN  NaN  NaN
0  1  NaN  0  0.0  0.0  0.0
1  0  NaN  1  0.0  0.0  0.0
2  0  NaN  0  1.0  0.0  0.0
3  0  NaN  0  0.0  1.0  0.0
4  0  NaN  0  0.0  0.0  1.0

In [55]:
y

   a  b  c  d  e  f
0  1  0  0  0  0  0
1  1  0  0  0  0  0
2  0  1  0  1  0  0
3  0  1  0  0  1  0
4  0  1  0  0  0  1
5  0  0  1  0  0  0
6  0  0  1  0  0  0
7  0  0  1  0  0  0